# Pastas de ambiente virtual
venv/
.venv/

# Arquivos temporários do Python e do PyCharm
__pycache__/
*.pyc
*.pyo
*.pyd
.idea/

# Logs e dados do projeto
*.log
*.db
instance/

# Configurações do editor
.vscode/

# Dependências do Pip
/env/
/venv/
/ENV/
/env.bak/
/venv.bak/

# Arquivos de dados e de build
build/
dist/
.DS_Store